eCredito/eCredito/Alberlan.eScribe.UI.WF/Service References/Servico.Cadastro.TipoFinanciamento/TipoFinanciamentoFacade.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TipoFinanciamentoFacade" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59588/Cadastro/TipoFinanciamentoFacade.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59588/Cadastro/TipoFinanciamentoFacade.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59588/Cadastro/TipoFinanciamentoFacade.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Alberlan.eCredito.Interface.DTO.Cadastro" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITipoFinanciamento_Consultar_InputMessage">
    <wsdl:part name="parameters" element="tns:Consultar" />
  </wsdl:message>
  <wsdl:message name="ITipoFinanciamento_Consultar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarResponse" />
  </wsdl:message>
  <wsdl:message name="ITipoFinanciamento_Incluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Incluir" />
  </wsdl:message>
  <wsdl:message name="ITipoFinanciamento_Incluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncluirResponse" />
  </wsdl:message>
  <wsdl:message name="ITipoFinanciamento_Editar_InputMessage">
    <wsdl:part name="parameters" element="tns:Editar" />
  </wsdl:message>
  <wsdl:message name="ITipoFinanciamento_Editar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarResponse" />
  </wsdl:message>
  <wsdl:message name="ITipoFinanciamento_Excluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Excluir" />
  </wsdl:message>
  <wsdl:message name="ITipoFinanciamento_Excluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirResponse" />
  </wsdl:message>
  <wsdl:message name="ITipoFinanciamento_IncluirTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:IncluirTodos" />
  </wsdl:message>
  <wsdl:message name="ITipoFinanciamento_IncluirTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncluirTodosResponse" />
  </wsdl:message>
  <wsdl:portType name="ITipoFinanciamento">
    <wsdl:operation name="Consultar">
      <wsdl:input wsaw:Action="http://tempuri.org/ITipoFinanciamento/Consultar" message="tns:ITipoFinanciamento_Consultar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITipoFinanciamento/ConsultarResponse" message="tns:ITipoFinanciamento_Consultar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Incluir">
      <wsdl:input wsaw:Action="http://tempuri.org/ITipoFinanciamento/Incluir" message="tns:ITipoFinanciamento_Incluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITipoFinanciamento/IncluirResponse" message="tns:ITipoFinanciamento_Incluir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <wsdl:input wsaw:Action="http://tempuri.org/ITipoFinanciamento/Editar" message="tns:ITipoFinanciamento_Editar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITipoFinanciamento/EditarResponse" message="tns:ITipoFinanciamento_Editar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <wsdl:input wsaw:Action="http://tempuri.org/ITipoFinanciamento/Excluir" message="tns:ITipoFinanciamento_Excluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITipoFinanciamento/ExcluirResponse" message="tns:ITipoFinanciamento_Excluir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IncluirTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/ITipoFinanciamento/IncluirTodos" message="tns:ITipoFinanciamento_IncluirTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITipoFinanciamento/IncluirTodosResponse" message="tns:ITipoFinanciamento_IncluirTodos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITipoFinanciamento" type="tns:ITipoFinanciamento">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Consultar">
      <soap:operation soapAction="http://tempuri.org/ITipoFinanciamento/Consultar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Incluir">
      <soap:operation soapAction="http://tempuri.org/ITipoFinanciamento/Incluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <soap:operation soapAction="http://tempuri.org/ITipoFinanciamento/Editar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <soap:operation soapAction="http://tempuri.org/ITipoFinanciamento/Excluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncluirTodos">
      <soap:operation soapAction="http://tempuri.org/ITipoFinanciamento/IncluirTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TipoFinanciamentoFacade">
    <wsdl:port name="BasicHttpBinding_ITipoFinanciamento" binding="tns:BasicHttpBinding_ITipoFinanciamento">
      <soap:address location="http://localhost:59588/Cadastro/TipoFinanciamentoFacade.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>