eCredito/eCredito/Alberlan.eScribe.UI.WF/Service References/Servico.Cadastro.TipoFinanciamento/TipoFinanciamentoFacade.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59588/Cadastro/TipoFinanciamentoFacade.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Alberlan.eCredito.Interface.DTO.Cadastro" />
  <xs:element name="Consultar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Alberlan.eCredito.Interface.DTO.Cadastro" minOccurs="0" name="ConsultarResult" nillable="true" type="q1:ArrayOfTipoFinanciamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Incluir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Alberlan.eCredito.Interface.DTO.Cadastro" minOccurs="0" name="tipoFinanciamentoDTO" nillable="true" type="q2:TipoFinanciamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Alberlan.eCredito.Interface.DTO.Cadastro" minOccurs="0" name="IncluirResult" nillable="true" type="q3:ArrayOfTipoFinanciamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Alberlan.eCredito.Interface.DTO.Cadastro" minOccurs="0" name="tipoFinanciamentoDTO" nillable="true" type="q4:TipoFinanciamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Alberlan.eCredito.Interface.DTO.Cadastro" minOccurs="0" name="EditarResult" nillable="true" type="q5:ArrayOfTipoFinanciamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Excluir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Alberlan.eCredito.Interface.DTO.Cadastro" minOccurs="0" name="tipoFinanciamentoDTO" nillable="true" type="q6:TipoFinanciamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Alberlan.eCredito.Interface.DTO.Cadastro" minOccurs="0" name="ExcluirResult" nillable="true" type="q7:ArrayOfTipoFinanciamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirTodos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Alberlan.eCredito.Interface.DTO.Cadastro" minOccurs="0" name="tipoFinanciamentosDTO" nillable="true" type="q8:ArrayOfTipoFinanciamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirTodosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>