eCredito/eCredito/Alberlan.eScribe.UI.WF/Service References/Servico.Cadastro.TipoFinanciamento/TipoFinanciamentoFacade1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Alberlan.eCredito.Interface.DTO.Cadastro" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Alberlan.eCredito.Interface.DTO.Cadastro" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTipoFinanciamentoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoFinanciamentoDTO" nillable="true" type="tns:TipoFinanciamentoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoFinanciamentoDTO" nillable="true" type="tns:ArrayOfTipoFinanciamentoDTO" />
  <xs:complexType name="TipoFinanciamentoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PercentualTaxa" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoFinanciamentoDTO" nillable="true" type="tns:TipoFinanciamentoDTO" />
</xs:schema>