eCredito/eCredito/Alberlan.eScribe.UI.WF/Service References/Servico.CalculoFinanciamento.Financiamento/FinanciamentoFacade1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59588/CalculoFinanciamento/FinanciamentoFacade.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Alberlan.eCredito.Interface.DTO.CalculoFinanciamento" />
  <xs:element name="Consultar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Alberlan.eCredito.Interface.DTO.CalculoFinanciamento" minOccurs="0" name="ConsultarResult" nillable="true" type="q1:ArrayOfFinanciamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Incluir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Alberlan.eCredito.Interface.DTO.CalculoFinanciamento" minOccurs="0" name="financiamentoDTO" nillable="true" type="q2:FinanciamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Alberlan.eCredito.Interface.DTO.CalculoFinanciamento" minOccurs="0" name="IncluirResult" nillable="true" type="q3:ArrayOfFinanciamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Alberlan.eCredito.Interface.DTO.CalculoFinanciamento" minOccurs="0" name="financiamentoDTO" nillable="true" type="q4:FinanciamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Alberlan.eCredito.Interface.DTO.CalculoFinanciamento" minOccurs="0" name="EditarResult" nillable="true" type="q5:ArrayOfFinanciamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Excluir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Alberlan.eCredito.Interface.DTO.CalculoFinanciamento" minOccurs="0" name="financiamentoDTO" nillable="true" type="q6:FinanciamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Alberlan.eCredito.Interface.DTO.CalculoFinanciamento" minOccurs="0" name="ExcluirResult" nillable="true" type="q7:ArrayOfFinanciamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirTodos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Alberlan.eCredito.Interface.DTO.CalculoFinanciamento" minOccurs="0" name="financiamentosDTO" nillable="true" type="q8:ArrayOfFinanciamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirTodosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Verificar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valorSolicitado" type="xs:double" />
        <xs:element minOccurs="0" name="qdtParcela" type="xs:int" />
        <xs:element minOccurs="0" name="dtaPrimeiroVencto" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tipoFinanciamento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Alberlan.eCredito.Interface.DTO.CalculoFinanciamento" minOccurs="0" name="VerificarResult" nillable="true" type="q9:ArrayOfValidacaoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarFinanciamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codCliente" type="xs:int" />
        <xs:element minOccurs="0" name="tipoFinanciamento" type="xs:int" />
        <xs:element minOccurs="0" name="valorSolicitado" type="xs:double" />
        <xs:element minOccurs="0" name="qdtParcela" type="xs:int" />
        <xs:element minOccurs="0" name="dtaPrimeiroVencto" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarFinanciamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Alberlan.eCredito.Interface.DTO.CalculoFinanciamento" minOccurs="0" name="SolicitarFinanciamentoResult" nillable="true" type="q10:CalculoFinanciamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarFinanciamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Alberlan.eCredito.Interface.DTO.CalculoFinanciamento" minOccurs="0" name="calculoFinanciamentoDTO" nillable="true" type="q11:CalculoFinanciamentoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarFinanciamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmarFinanciamentoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>